@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-feature-settings: "pwid";
  background: #141414;
  font: 900 1.6rem / 1.6;
  letter-spacing: 0.0732064422vw;
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
